body {
	background-color: black;
    margin: 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100vh;
}

#image_wrapper{
    flex-grow: 1;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.1s ease-in-out;
}

.hide-image {
  	opacity: 0;
}